.tableBody {
    background-color: #F0EEF5;
    height: 72px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
}

.clickRow {
    cursor: pointer;
}

.clickRow:hover {
    color: white;
    background-color: #6145AF;
}