.button, .secondaryButton{
    border-radius: 10px;
    padding: 16px 30px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    filter: drop-shadow(4px 5px 1px rgba(0, 0, 0, 0.20));
    height: fit-content;
}

.button {
    background: #6145AF;
}

.secondaryButton {
    color: #6145AF;
    background-color: white;
    border: solid 1px #6145AF;
}

.button:hover {
    background-color: #282c34;
}

.button:disabled {
    background-color: #AC99DF;
}

.secondaryButton:hover {
    background-color: #282c34;
    color: white;
}

@media only screen and (max-width: 425px) {
    .button, .secondaryButton{
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
        padding: 10px 20px;
    }
}

@media only screen and (max-width: 768px) {
    .button, .secondaryButton{
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.5rem;
        padding: 14px 25px;
    }
}