.column {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  min-height: calc(100vh - 412px );
  border-radius: 8px;
}

.board {
  display: flex;
  justify-content: space-between;
}


.column h3 {
  font-size: 1.5rem;
  color: #000000;
  margin-bottom: 1rem;
  background-color: #AC99DF;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
}

.card-list {
  list-style-type: none;
  padding: 0;
}

.card {
  background-color: #F0EEF5;
  border: 2px solid #F0EEF5;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: grab;
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 0 5px #a0a0a0;
}

.scrum-board {
  padding: 1rem;
}

.scrumBoardTitle {
  margin-bottom: 1.5rem;
}

.scroll-to-top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #6145AF;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 4px;
}
