body {
  font-family: 'Roboto', sans-serif;
}

.pageH1 {
  margin-left: 5vw;
  font-family: 'Roboto', sans-serif;font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 0;
}

.tableWrap {
  width: 90vw;
  margin-right: 5vw;
  margin-left: 5vw;
}

table {
  border-spacing: 0 30px;
  width: 100%
}

th, td {
  padding: 0 20px;
  text-align: left;
}