body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.page {
    width: 90vw;
    margin-right: 5vw;
    margin-left: 5vw;
    min-height: calc(100vh - 172px - 5rem);
    align-items: flex-start;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.formCard {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0EEF5;
    margin: 0 auto;
    border-right: 6px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 2.5rem 0;
}

.formCard h2 {
    font-size: 2rem;
    margin-bottom: 2.5rem;
    margin-top: 0;
}

.pageH2 {
    font-family: 'Roboto', sans-serif;font-style: normal;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.625;
    margin: 0;
}

table {
    border-spacing: 0 20px;
    width: 100%;
}

th, td {
    padding: 0 1.39vw;
    text-align: left;
}

th:first-child, td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

th:last-child, td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.textField {
    background-color: white;
}

@media only screen and (max-width: 425px) {
    .page {
        width: 95vw;
        margin-right: 2.5vw;
        margin-left: 2.5vw;
        align-items: flex-start;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        min-height: calc(100vh - 220px);
    }

    .pageH2 {
        font-size: 1.5rem;
        line-height: 2.25rem;
    }

    th, td {
        padding: 0 1vw;
        text-align: left;
    }
}

@media only screen and (max-width: 768px) {
    .pageH2 {
        font-weight: 700;
        font-size: 1.75rem;
        line-height: 1.5;
        margin: 0;
    }
}