.navBar {
    list-style: none;
    background-color: #6145AF;
    margin: 0;
    padding: 16px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 425px) {
    .navBar {
        padding: 16px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media only screen and (min-width: 2560px) {
    .navBar {
        padding: 16px 630px;
    }
}