.scroll-to-top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #6145AF;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 4px;
}

.sprintCard {
    background-color: #F0EEF5;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    max-width: 700px;
    margin: 0 auto 2.5rem auto;
    box-sizing: border-box;
}

.sprintInfo {
    display: flex;
}

.sprintContent p{
    font-size: 1.25rem;
}

.statusContainer {
    display: flex;
    flex-direction: column;
}

.statusContainer h3{
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.sprintHeader {
    justify-content: space-between;
    display: flex;
    margin-bottom: 20px;
}

.sprintHeader h2 {
    margin: 0;
}

.sprintButtons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.sprintButtonsProject {
    display: flex;
    gap: 1rem;
}

.sprintBacklogSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 425px) {
    .sprintCard {
        padding: 2rem;
        width: 85vw;
    }

    .sprintInfo {
        flex-direction: column;
    }

    .sprintHeader {
        justify-content: space-between;
        display: flex;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 426px) {
    .sprintCard {
        padding: 3rem;
        width: 85vw;
    }

    .sprintInfo {
        gap: 2.5rem;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 769px) {
    .sprintCard {
        padding: 4rem;
    }

    .sprintInfo {
        flex-direction: row;
        align-items: center;
    }

    .user-story {
        display: flex;
        align-items: center;
    }
}