.sprintCard {
    background-color: #F0EEF5;
    width: 45vw;
    padding: 5rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    max-width: 611px;
    margin: 0 auto;
    position: relative;
}

.sprintInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status {
    align-self: flex-start;
}

.sprintButtons {
    display: flex;
    gap: 1rem;
}

.sprintButtonsProject {
    display: flex;
    gap: 1rem;
}

@media only screen and (min-width: 769px) {
    .sprintInfo {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .sprintButtons {
        flex-direction: row;
        align-items: center;
    }

    .user-story {
        display: flex;
        align-items: center;
    }

    .autocomplete-container {
        flex: 1;
        margin-right: 10px;
    }
}
