.scroll-to-top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #6145AF;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 4px;
}
